@tailwind base;
@tailwind components;
@tailwind utilities;



     .corefeaturesection{
            background-size: 100% 100%;
            padding-top: 12rem;
            padding-bottom: 12rem;
        }

        .ctaSection{
          background-size: 100% 100%;
        }

        .companiesList{
          animation:10s infinite linear moveCompany;
        }

        @keyframes moveCompany {
          0%{
            top:0;
          }
          100%{
            top:-50%;
          }
        }

    colors: {
        deepBlue: "#02042a",
        lightBlue: "#2b84ea",
        lightBlue300: "#4b94ed",
        lightBlue500: "#0b72e7",
        greenLight: "#61cea6",
        grayText: "#818597",
        lightGray: "#e2e2e2",
        grayBlue: "#344a6c",
        deepBlueHead: "#162f56",
        gray2: "#525a76",
      },},
